<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="database=transinfo;Server=localhost;Port=4433; User Id=root;Password=lotus" providerName=""/>
  </connectionStrings>
  <appSettings>
    <!-- meta configuration -->
    <add key="schema_name" value="transinfo"/>
    <add key="mybatis_sqlmap_file" value="etc/mybatis.sqlmap.cfg.xml"/>
    <add key="entity_namespace" value="Trans.DAL.Entity"/>
    <add key="dao_namespace" value="Trans.DAL.Dao"/>
    <add key="mapper_namespace_root" value="Trans.DAL.Entity"/>
    
    <!-- DB -->

    <add key="db_type" value="MYSQL"/>

    <!--
    <add key="db_type" value="Oracle"/>
    <add key="db_type" value="DB2"/>
    <add key="db_type" value="PostgreSQL"/>
    <add key="db_type" value="MSSQL"/>
    -->
  </appSettings>
</configuration>